@import "tailwindcss";




* {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #010103;
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
}


.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }

  -webkit-overflow-scrolling: touch;
}

.wave-animation {
  animation-name: animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@utility flex-between {
  @apply flex items-center justify-between
}

@utility flex-center {
  @apply flex items-center justify-center
}

@utility icon {
  @apply size-8 max-md:size-4
}

@layer base {
  h1 {
    @apply text-white text-5xl max-md:text-4xl font-semibold tracking-wider
  }

  h2 {
    @apply text-neutral-400 text-[2.2em] font-semibold tracking-wide
  }

  h3 {
    @apply text-neutral-200 text-[1.8em] font-medium tracking-wide
  }

  p {
    @apply text-xl font-normal tracking-wide text-neutral-300
  }
}


.marquee-animation {
  animation-name: marquee;
  animation-duration: 30s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: -10s;
  left: max(calc(200 * 10px), 100%)
}

@keyframes marquee {
  to {
    left: -200px;
  }
}

@layer components {
  .padding {
    @apply px-4 sm:px-6 md:px-8 lg:px-16 py-3
  }

  .input-field {
    @apply w-full bg-[#1C1C21] px-5 py-2 mt-2 min-h-14 border-[1.3px] border-neutral-500 border-l-0 border-t-0 rounded-lg placeholder:text-white/70 text-xl max-md:text-lg text-white/60 shadow-black/80 shadow-2xl focus:outline-none;
  }


  .input-label {
    @apply text-xl max-md:text-lg text-neutral-200
  }

  .mask-clip {
    clip-path: polygon(0 22%, 100% 21%, 100% 79%, 75% 84%, 56% 100%, 49% 84%, 0 84%);
  }

  .bento-grid-head {
    @apply text-2xl text-left w-full font-medium tracking-wide text-white
  }

  .bento-grid-desc {
    @apply text-[1.2em] max-md:text-[1.1em] font-normal tracking-wide text-[#A2A3A9]
  }

  .grid-container {
    @apply flex items-center justify-center h-full flex-col gap-2 py-4 md:py-[1.4em] rounded-xl max-md:px-3 px-[1.4em] bg-[#0E0E10] backdrop-blur-[1px] border-[1.4px] border-[#1C1C1C]
  }
}